html, body{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: #C82121; 
}
body div.container-fluid {
    padding: 0;
}
nav.customNavbar {
    color: white;
    background-color: #0D0CB5;
}
a {
    color: white;
}
a:hover {
    color: white;
    font-weight: bold;
}
#customSpan {
    color: white;
    margin: auto;
    align-self: center;
}
hr{
    border-bottom: 1px solid white;
}
.jumbotron {
    text-align: center;
    background: none;
    color: white;
}
div.carousel-item img {
    max-height: 460px;
}
div.section2 {
    background-color: #C82121; 
    padding-bottom: 10px;
}
.section3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BECBFF;   
}

.wrapper {
    display: flex;
    justify-content: center;
}
.sideImg {
    max-height: 450px;
}
.center {
    justify-content: center;
    text-align: center;
}
p {
    font-size: 1.1em;
    color: black;
}
div.wrapper button {
    background-color: #C82121;
    color: white;
}
div.wrapper button:hover {
    font-size: 1.4em;
}
h5.modal-title {
    text-align: center;
    margin: auto;
}