html, body{
    font-family: 'Ubuntu', sans-serif;
    background: #dd150c; 
    margin: 0;
    padding: 0;
}
nav.customNavbar {
    color: white;
    background-color: #000342;
}
a {
    color: white;
}
a:hover {
    color: white;
    font-weight: bold;
}
#customSpan {
    color: white;
    margin: auto;
    align-self: center;
}
hr{
    border-bottom: 1px solid white;
}
.jumbotron {
    text-align: center;
    background: none;
    color: white;
}
div.carousel-item img {
    max-height: 460px;
}
div.section2 {
    background-color: #dd150c; 
    padding-bottom: 10px;
}
.section3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BECBFF;   
}

.wrapper {
    display: flex;
    justify-content: center;
}
.sideImg {
    max-height: 450px;
}
.center {
    justify-content: center;
    text-align: center;
}
p {
    font-size: 1.1em;
    color: black;
}
div.wrapper button {
    background-color: #dd150c;
    color: white;
}
div.wrapper button:hover {
    font-size: 1.4em;
}
h5.modal-title {
    text-align: center;
    margin: auto;
}
.section4Btn {
    color: white;
    background-color: #000342;
    margin: auto;
    width: 60%;
}
.section4Btn:hover {
    color: black;
    background-color: #BECBFF;
}